.navBar {
	background-color: #e1eedd;
	width: 100%;
	height: 5%;
	display: flex;
	justify-content: center;
}

.navBar a {
	margin: auto;
	color: #183a1d;
	font-weight: 100;
	font-family: "segoe ui", "sans";
	transition: opacity 0.25s;
	opacity: 1;
	text-decoration: none;
}

.navBar a:hover {
	transition: all 0.25s;
	opacity: 0.75;
	cursor: pointer;
}